body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: cursive;
  text-align: center;
  margin: 0;
}
h3 {
  margin-inline-start: 10px;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
div {
  color: aliceblue;
}
form div {
  margin: 1em;
  display: inline-block;
}
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
button:hover {
  opacity: 0.8;
}
.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-size: 100% 100%;
  height: 210px;
  background-image: url('./images/logo.jpg');
}
body {
  background-image: url('./images/background2.jpg');
  /* background-position: center center; */
  background-size: cover;
  /* margin-top: 10px;  */
}
.body > div {
  width: 80%;
  margin: 0 auto;
}
.allArt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.art {
  width: 30%;
  height: 100%;
  justify-content: center;
  margin: 1%;
}

.imageUrl {
  width: 100%;
  max-width: 800px;
  padding: 1px;
  border: 1px solid #021a40;
  background-color: green;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.cartImage {
  width: 100%;
  max-width: 800px;
}

.cartButton {
  width: 7em;
  align-items: flex-end;
  /* max-width: 100px; */
  margin: 0;
  /* margin-right: 10px; */
}
.leftnav {
  display: flex;
  align-items: center;
}
.link {
  color: azure;
}
